<p>edit works!</p>
<!-- {{cou2|json}} -->

<div class="container"></div>
    <div class="row">
        <h2>Country Info</h2>
        <div class="col-md-4">
            <label for="">Name</label>
            <input type="text" name="name" id="" [(ngModel)]="cou.name">
        </div>
        <div class="col-md-4">
            <label for="">isO2</label>
            <input type="text" name="isO2" id="" [(ngModel)]="cou.isO2">
        </div>
        <div class="col-md-4">
            <label for="">isO3</label>
            <input type="text" name="isO3" id="" [(ngModel)]="cou.isO3">
        </div>
    </div>
    <div class="row">
        <h2>City Info</h2>
        <div class="col-md-3">
            <label for="">Name</label>
            <input type="text" name="name" id="" [(ngModel)]="city.name">
        </div>
        <div class="col-md-3">
            <label for="">lat</label>
            <input type="number" name="lat" id="" [(ngModel)]="city.lat">
        </div>
        <div class="col-md-3">
            <label for="">lan</label>
            <input type="number" name="lan" id="" [(ngModel)]="city.lan">
        </div>
        <div class="col-md-3">
           <button class="btn btn-primary" (click)="addcity()">AddCity</button>
        </div>
    </div>
    <div class="row" *ngIf="cou.cities.length>0">
        <table class="table">
            <thead>
                <tr>
                    <th>CityName</th>
                    <th>Lat</th>
                    <th>Lon</th>
                    <th>Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ciy of cou.cities">
                    <td>{{ciy.name}}</td>
                    <td>{{ciy.lat}}</td>
                    <td>{{ciy.lan}}</td>
                    <td>
                        <button (click)="onedi(ciy)" class="btn btn-primary">Edit</button>
                        <button (click)="ondeli(ciy)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-primary" (click)="addCounCity()">Update Country City</button>
    </div>
    
<!-- {{cou|json}} -->